<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <display-name>first app</display-name>


<!--    <servlet>-->
<!--        <servlet-name>LogoutServlet</servlet-name>-->
<!--        <servlet-class>com.github.adamovichas.project.web.servlet.LogOutServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>LogoutServlet</servlet-name>-->
<!--        <url-pattern>/logout</url-pattern>-->
<!--    </servlet-mapping>-->

<!--    <servlet>-->
<!--        <servlet-name>RegistrationServlet</servlet-name>-->
<!--        <servlet-class>com.github.adamovichas.project.web.servlet.RegistrationServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>RegistrationServlet</servlet-name>-->
<!--        <url-pattern>/registration</url-pattern>-->
<!--    </servlet-mapping>-->

<!--    <servlet>-->
<!--        <servlet-name>LoginServlet</servlet-name>-->
<!--        <servlet-class>com.github.adamovichas.project.web.servlet.LoginServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>LoginServlet</servlet-name>-->
<!--        <url-pattern>/userlogin</url-pattern>-->
<!--    </servlet-mapping>-->

<!--    <servlet>-->
<!--        <servlet-name>RoleRedirectServlet</servlet-name>-->
<!--        <servlet-class>com.github.adamovichas.project.web.servlet.RoleRedirectServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>RoleRedirectServlet</servlet-name>-->
<!--        <url-pattern>/redirect</url-pattern>-->
<!--    </servlet-mapping>-->

<!--    <servlet>-->
<!--        <servlet-name>UpdateServlet</servlet-name>-->
<!--        <servlet-class>com.github.adamovichas.project.web.servlet.UpdateServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>UpdateServlet</servlet-name>-->
<!--        <url-pattern>/update</url-pattern>-->
<!--    </servlet-mapping>-->

<!--    <servlet>-->
<!--        <servlet-name>ChoseEventInfo</servlet-name>-->
<!--        <servlet-class>com.github.adamovichas.project.web.servlet.event.add.ChoseEventInfo</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>ChoseEventInfo</servlet-name>-->
<!--        <url-pattern>/new_event/chose_league/chose_event_info</url-pattern>-->
<!--    </servlet-mapping>-->

<!--    <servlet>-->
<!--        <servlet-name>ChoseLeague</servlet-name>-->
<!--        <servlet-class>com.github.adamovichas.project.web.servlet.event.add.ChoseLeague</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>ChoseLeague</servlet-name>-->
<!--        <url-pattern>/new_event/chose_league/</url-pattern>-->
<!--    </servlet-mapping>-->

<!--    <servlet>-->
<!--        <servlet-name>addEvent</servlet-name>-->
<!--        <servlet-class>com.github.adamovichas.project.web.servlet.event.add.AddEvent</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>addEvent</servlet-name>-->
<!--        <url-pattern>/new_event/add_event/</url-pattern>-->
<!--    </servlet-mapping>-->

<!--    <servlet>-->
<!--        <servlet-name>BetPagination</servlet-name>-->
<!--        <servlet-class>com.github.adamovichas.project.web.servlet.BetPaginationServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>BetPagination</servlet-name>-->
<!--        <url-pattern>/bet_pagination</url-pattern>-->
<!--    </servlet-mapping>-->

<!--    <servlet>-->
<!--        <servlet-name>BetServlet</servlet-name>-->
<!--        <servlet-class>com.github.adamovichas.project.web.servlet.BetServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>BetServlet</servlet-name>-->
<!--        <url-pattern>/bet</url-pattern>-->
<!--    </servlet-mapping>-->

<!--    <servlet>-->
<!--        <servlet-name>CancelBetServlet</servlet-name>-->
<!--        <servlet-class>com.github.adamovichas.project.web.servlet.CancelBetServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>CancelBetServlet</servlet-name>-->
<!--        <url-pattern>/cancel_bet</url-pattern>-->
<!--    </servlet-mapping>-->

<!--    <servlet>-->
<!--        <servlet-name>VerificationServlet</servlet-name>-->
<!--        <servlet-class>com.github.adamovichas.project.web.servlet.VereficationServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>VerificationServlet</servlet-name>-->
<!--        <url-pattern>/verification</url-pattern>-->
<!--    </servlet-mapping>-->

<!--    <servlet>-->
<!--        <servlet-name>CashierServlet</servlet-name>-->
<!--        <servlet-class>com.github.adamovichas.project.web.servlet.CashierServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>CashierServlet</servlet-name>-->
<!--        <url-pattern>/cashier</url-pattern>-->
<!--    </servlet-mapping>-->

<!--    <servlet>-->
<!--        <servlet-name>DepositServlet</servlet-name>-->
<!--        <servlet-class>com.github.adamovichas.project.web.servlet.DepositServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>DepositServlet</servlet-name>-->
<!--        <url-pattern>/deposit</url-pattern>-->
<!--    </servlet-mapping>-->

<!--    <servlet>-->
<!--        <servlet-name>WithdrawalServlet</servlet-name>-->
<!--        <servlet-class>com.github.adamovichas.project.web.servlet.WithdrawalServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>WithdrawalServlet</servlet-name>-->
<!--        <url-pattern>/withdrawal</url-pattern>-->
<!--    </servlet-mapping>-->





    <filter-mapping>
        <filter-name>EncodeFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

<!--    <filter>-->
<!--        <filter-name>EventPaginationFilter</filter-name>-->
<!--        <filter-class>com.github.adamovichas.project.web.filter.EventPaginationFilter</filter-class>-->
<!--    </filter>-->
<!--    <filter-mapping>-->
<!--        <filter-name>EventPaginationFilter</filter-name>-->
<!--        <url-pattern>/index.jsp</url-pattern>-->
<!--        <url-pattern>/event_pagination.jsp</url-pattern>-->
<!--    </filter-mapping>-->


    <filter-mapping>
        <filter-name>LocaleFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
<!--    <filter>-->
<!--        <filter-name>SessionAuthFilter</filter-name>-->
<!--        <filter-class>com.github.adamovichas.project.web.filter.SessionAuthFilter</filter-class>-->
<!--    </filter>-->
<!--    <filter-mapping>-->
<!--        <filter-name>SessionAuthFilter</filter-name>-->
<!--        <url-pattern>/user_menu.jsp</url-pattern>-->
<!--    </filter-mapping>-->
<!--    <filter-mapping>-->
<!--        <filter-name>SessionAuthFilter</filter-name>-->
<!--        <url-pattern>/redirect</url-pattern>-->
<!--    </filter-mapping>-->
<!--    <filter-mapping>-->
<!--        <filter-name>SessionAuthFilter</filter-name>-->
<!--        <url-pattern>/admin_menu.jsp</url-pattern>-->
<!--    </filter-mapping>-->

<!--    <filter>-->
<!--        <filter-name>CookieFilter</filter-name>-->
<!--        <filter-class>com.github.adamovichas.project.web.filter.CookieFilter</filter-class>-->
<!--    </filter>-->
<!--    <filter-mapping>-->
<!--        <filter-name>CookieFilter</filter-name>-->
<!--        <url-pattern>/user_menu.jsp</url-pattern>-->
<!--    </filter-mapping>-->
<!--    <filter-mapping>-->
<!--        <filter-name>CookieFilter</filter-name>-->
<!--        <url-pattern>/redirect</url-pattern>-->
<!--    </filter-mapping>-->
<!--    <filter-mapping>-->
<!--        <filter-name>CookieFilter</filter-name>-->
<!--        <url-pattern>/admin_menu.jsp</url-pattern>-->
<!--    </filter-mapping>-->



</web-app>